Package           Version
----------------- -------------------
certifi           2020.12.5
mkl-fft           1.2.0
mkl-random        1.1.1
mkl-service       2.3.0
numpy             1.19.2
olefile           0.46
Pillow            8.0.1
pip               20.3.1
setuptools        49.6.0.post20201009
six               1.15.0
torch             1.7.0
torchvision       0.8.1
tqdm              4.54.1
typing-extensions 3.7.4.3
wheel             0.36.1
